body {
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex :1;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color : #fe424d;
    font-size: 2rem; /* Adjusted for better navbar fit */
}

.nav-link {
    color: #222222; /* Dark grey */
}
.nav-link:hover {
    color: #100101; /* Slightly lighter on hover */
}

/*Footer*/
.f-info-socials,.f-info-links, .f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info-socials i:hover{
    font-size: 1.5rem ;
}

.f-info {
    text-align: center;
height: 8rem;
background-color: #ebebeb;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: space-evenly;
}


.f-info-links a{
    text-decoration: none;
    color: black;
    padding: 0 8px;
}
.f-info-links a:hover{
    text-decoration: underline;
}

/*Cards*/
.listing-card{
    border : none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2 ;
    background-color: white;
}

/* New Page */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit Page */

.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Show Page */

.show-img{
    height :30vh !important;
}

.btns{
    display: flex;
}

.show-card{
    padding-left : 0;
    padding-right : 0;
}

/* Map Style */

#map{
    height: 400px;
    width: 80vh;
}

#map {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  border-radius: 8px; /* optional */
}

#map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

